.banner-interno__titulo__icono i 
  color: #12263F !important
.r-m
  border-top: 9px solid #472EA6
.img-600
  width: 600px !important
.img-400
  width: 400px !important  
.img-190
  width: 190px !important 
.img-150
  width: 150px !important 
 
.t2
    width: 100% !important
.tt1
  color: #FF9D00 !important
.img-a300
  height: 300px !important 

.img-c
  justify-content: center!important
  display: block
  margin: 0 auto    
.fnd-1
  background-color: #F3F9FF !important
  padding: 2rem 1rem 2rem 1rem !important  
.fnd-2
  background-color: #ffffff !important
.fnd-3

  background-color: #BBABF5 !important
  border-radius: 10px  10px 0 0
.pt-1  
  margin: 0.5em 0em !important  